###############################
# Core EditorConfig Options   #
###############################
root = true
# All files
[*]
indent_style = space

[*.cs]
# var preferences
csharp_style_var_for_built_in_types = true:error
csharp_style_var_when_type_is_apparent = true:error
csharp_style_var_elsewhere = true:error

# code style
dotnet_analyzer_diagnostic.category-Style.severity = none
dotnet_diagnostic.IDE0011.severity = error

# suppressing
dotnet_diagnostic.CA1848.severity = none # high performance logging warning (totally negligible in our context)
dotnet_diagnostic.CA1051.severity = none # protected fields were disliked for some reason
dotnet_diagnostic.CA1305.severity = none # string format warnings - we use string interpolation
dotnet_diagnostic.CA1711.severity = none # warning about word attribute in interfaces
dotnet_diagnostic.CA1716.severity = none # warning about word set in method names
dotnet_diagnostic.CA1720.severity = none # enum names containing type name - we use enum names for clarity
dotnet_diagnostic.CA1000.severity = none # declaring static members on generic types





